antlr4-python3-runtime==4.9.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
Deprecated==1.2.14
idna==3.7
lxml==5.2.2
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.1
pikepdf==9.0.0
pillow==10.4.0
pycparser==2.22
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyPDF2==3.0.1
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
simplejson==3.19.2
six==1.16.0
stix2==3.0.1
stix2-patterns==2.0.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wrapt==1.16.0
